body { 
	padding-top: 30px;
	margin: 10px;
}


.navbar-brand{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 25px;
	margin-left: 40px;
}

.nav-item{
	padding-left: 15px;
}


.card-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: 2px 2px 4px #000000;
}

.img-thumbnail:hover{
    box-shadow: 2px 2px 4px #000000;
}


.col-md-6 {
	padding: 10px;
}



.card-title {
	text-align: left;
	padding-top: 15px;
}


.hovereffect.card-img {
	border: 2px 2px black;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.01);
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#image {
	width: 60%;
	height: 60%;
	margin: 10px;
	padding: 5px;
}

.navbar-custom .navbar-toggler {
    border-color: #ffffff;
}


.navbar-custom {
    background-color:#a1a0a2;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}


.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link{
    color: #333333;
    background-color: rgba(255,255,255,.5);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.active-nav{
	color: #333333;
    background-color: rgba(255,255,255,.5);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.navbar-custom .dropdown-menu {
    background-color: rgb(28, 28, 31);
    border-radius: 10px;
}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
    border-radius: 10px;
}

.card-custom .card-header{
	background-color: #036abe91;
	box-shadow: 1px 1px 3px #02074e96;
	color: #ffffff;
	/* text-shadow: 2px 2px #333333; */
}

.card-custom {
	 box-shadow: 2px 2px 4px grey;
	 
}

footer.footer{
	background-color:#e9ecef;
	border-radius: .3rem;
	text-align: center;
	padding: 10px 10px;
}

.contactme , .fas.fa-at{
	color: black;
  	margin: 5px 2px;
}

.contactme:hover , .fas.fa-at:hover {
    opacity: 0.45;
}

.active-image {
	border: 4px solid rgba(0, 57, 77, .3);
    padding: 0;
}

td, th {
    text-align: center;
}

.thead-custom {
	background-color: #808080;
	color: #ffffff;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
	background-color:rgba(0, 57, 77,.3);
}

a:hover {
	text-decoration: none;
}

hr{
	border-width: 2px;
}